<div class="flex min-h-screen relative lg:static">
  <app-sidebar [user]="user"></app-sidebar>

  <div class="min-h-screen flex flex-col relative flex-auto">
    <app-sub-navbar [user]="user"></app-sub-navbar>

    <div class="flex flex-col flex-auto">
      <main class="p-5 h-full">

        <div class="surface-card p-5 shadow-2 flex-auto xl:ml-5">
          <div class="text-900 font-semibold text-xl">
            New Journal Entry
          </div>

          <p-divider>
            <p-stepper-separator/>
          </p-divider>

          <div class="flex gap-5 flex-col-reverse md:flex-row">

            <div class="flex-auto p-fluid">
              <div class="mb-4">
                <label for="email" class="block font-normal mb-2">
                  Name
                </label>
                <input pInputText id="email" type="text" class="w-full p-component p-element"/>
              </div>

              <div class="mb-4">
                <label for="bio" class="block font-normal mb-2">Bio</label>
                <textarea pInputText
                          pTextarea
                          id="bio"
                          type="text"
                          rows="5"
                          class="w-full p-component p-element "
                ></textarea>
              </div>

              <div class="mb-4">
                <label for="website" class="block font-normal mb-2">
                  URL
                </label>
                <p-input-group>
                  <p-inputgroup-addon>
                    https://
                  </p-inputgroup-addon>
                  <input pInputText
                         id="website"
                         type="text"
                         pinputtext=""
                         class="p-component p-element">
                </p-input-group>
              </div>

              <div class="mb-4">
                <label for="company" class="block font-normal text-900 mb-2">
                  Company
                </label>
                <input pInputText id="company" type="text" class="p-component p-element" class="w-full"/>
              </div>


              <div class="mb-4">
                <label for="visibility" class="block font-normal text-900 mb-2">
                  Profile Visibility
                </label>

                <div class="flex items-center">
                  <p-checkbox inputid="visibility" class="p-element ng-untouched ng-pristine ng-valid">
                    <div class="p-checkbox p-component">
                      <div class="p-hidden-accessible">
                        <input type="checkbox" value="undefined" id="visibility">
                      </div>
                    </div>
                  </p-checkbox>

                  <span class="ml-2 font-normal text-base text-primary text-color-primary">
                    Make profile private and hide all activity
                  </span>
                </div>

              </div>

              <div class="mt-6">
                <button
                  pRipple
                  class="bg-[#0d6efd] p-3 rounded-lg">
                  <span class="p-button-label font-semibold text-white">Update Profile</span>
                  <span class="p-ink"></span>
                </button>
              </div>

            </div>

            <div class="flex flex-col items-center">
              <span class="font-normal mb-2">
                Profile Picture
              </span>

              <img ngSrc="assets/avatar-f-2.png" alt="pfp" class="h-40 w-40 object-cover rounded-full" height="140"
                   width="140"/>

              <button pRipple class="-mt-6 rounded-full">
                <span class="pi pi-pencil rounded-full bg-[#0d6efd] text-white p-3" aria-hidden="true"></span>
              </button>
            </div>


          </div>
        </div>

        <!--        <div class="flex flex-column align-items-center flex-or"><span-->
        <!--          class="font-normal text-900 mb-2">Profile Picture</span><img-->
        <!--          src="assets/images/blocks/avatars/circle-big/avatar-f-2.png" class="h-10rem w-10rem">-->
        <!--          <button pbutton="" type="button" icon="pi pi-pencil"-->
        <!--                  class="p-element p-button-rounded -mt-4 p-button p-component p-button-icon-only"><span-->
        <!--            class="p-button-icon pi pi-pencil" aria-hidden="true"></span></button>-->
        <!--        </div>-->


      </main>
    </div>
  </div>
</div>
