<div class="bg-gray-100 px-4 py-8 md:px-6 lg:px-8">
  <div class="text-gray-700 text-center">
    <div class="text-blue-600 font-bold mb-3">
      <i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD
    </div>
    <div class="text-gray-900 font-bold text-5xl mb-3">
      Join Our Design Community
    </div>
    <div class="text-gray-700 text-2xl mb-5">
      Want to talk to someone or meet a community to support one another?
    </div>
    <button
      class="font-bold px-5 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition duration-150"
    >
      <i class="pi pi-discord mr-2"></i> Join Now
    </button>
  </div>
</div>
