<div class="grid grid-cols-1 md:grid-cols-2 bg-gray-100 text-gray-800">

  <div class="p-6 text-center md:text-left flex items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">
        Keep track of
      </span>
      <div class="text-6xl text-blue-500 font-bold mb-3">
        your health to see progress
      </div>
      <p class="mt-0 mb-4 text-gray-700 leading-relaxed">
        Monitor your well-being, gain insights, and take steps toward a healthier mind
      </p>
      <div class="flex gap-3 justify-center md:justify-start">
        <button
          routerLink="login"
          pRipple
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded shadow hover:bg-blue-600 transition"
        >
          Get Started
        </button>
      </div>
    </section>
  </div>

  <div class="overflow-hidden">
    <img
      ngSrc="assets/hero-1.png"
      alt="Image"
      class="ml-auto w-full h-full md:object-cover"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
      height="630" width="716"/>
  </div>
</div>
