<div id="app-sidebar"
     class="bg-white h-screen hidden md:block flex-shrink-0 absolute md:static left-0 top-0 z-10 border-r border-gray-300 select-none"
     style="width: 280px;">
  <div class="flex flex-col h-full">

    <div class="flex items-center px-5 flex-shrink-0" style="height: 60px;">
      <img ngSrc="assets/hyper.svg" alt="Logo" class="h-7 w-7" height="50" width="49">
      <p class="ml-2 font-semibold text-gray-700">Mental Tracker</p>
    </div>

    <div class="overflow-y-auto">
      <ul class="list-none p-3 m-0">
        <li>
          <div
            class="flex items-center justify-between p-3 cursor-pointer text-gray-600 transition-all">
            <span class="font-medium">NAVIGATION</span>
          </div>
          <ul class="list-none p-0 m-0">
            <li>
              <a pRipple routerLink="/dashboard" routerLinkActive="bg-gray-100"
                 class="flex items-center p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition cursor-pointer">
                <i class="pi pi-home mr-2"></i>
                <span class="font-medium">Dashboard</span>
              </a>
            </li>
            <li>
              <a
                pRipple
                pStyleClass="@next"
                toggleClass="hidden"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveActiveClass="animate-slideup"
                leaveToClass="hidden"
                class="p-element flex items-center cursor-pointer p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition duration-150 ease-in-out"
              >
                <i class="pi pi-book mr-2"></i>
                <span class="font-medium">Journal Entries</span>
                <i class="pi pi-chevron-down ml-auto"></i>
                <span class="p-ink"></span>
              </a>
              <ul
                class="list-none py-0 pl-3 pr-0 m-0 overflow-y-hidden hidden transition-all duration-400 ease-in-out"
              >
                <li>
                  <a
                    pRipple
                    routerLink="/journal-entries"
                    routerLinkActive="bg-gray-100"
                    class="p-element flex items-center cursor-pointer p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition duration-150 ease-in-out"
                  >
                    <i class="pi pi-list mr-2"></i>
                    <span class="font-medium">All</span>
                    <span class="p-ink"></span>
                  </a>
                </li>
                <li>
                  <a
                    pRipple
                    routerLink="/new-journal"
                    routerLinkActive="bg-gray-100"
                    class="p-element flex items-center cursor-pointer p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition duration-150 ease-in-out"
                  >
                    <i class="pi pi-pen-to-square mr-2"></i>
                    <span class="font-medium">Create</span>
                    <span class="p-ink"></span>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a pRipple routerLink="/mood-history" routerLinkActive="bg-gray-100"
                 class="flex items-center p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition cursor-pointer">
                <i class="pi pi-chart-bar mr-2"></i>
                <span class="font-medium">Mood History</span>
              </a>
            </li>
            <li>
              <a pRipple routerLink="/profile" routerLinkActive="bg-gray-100"
                 class="flex items-center p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition cursor-pointer">
                <i class="pi pi-users mr-2"></i>
                <span class="font-medium">Profile</span>
              </a>
            </li>
            <li>
              <a pRipple routerLink="/settings" routerLinkActive="bg-gray-100"
                 class="flex items-center p-3 rounded-lg text-gray-700 hover:bg-gray-100 transition cursor-pointer">
                <i class="pi pi-cog mr-2"></i>
                <span class="font-medium">Settings</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="mt-auto">
      <hr class="mb-4 mx-4 border-t border-gray-300">
      <div class="flex items-center justify-between m-4 p-4 rounded-lg">
        <button pRipple routerLink="/profile"
                class="p-2 px-3.5 flex items-center justify-start rounded-lg bg-gray-100 hover:bg-gray-300 transition"
        >
          <img *ngIf="user" ngSrc="assets/avatar-f-1.png" alt="Profile Picture" class="mr-2 w-7 h-7 rounded-full" height="70"
               width="71">
          <p-skeleton *ngIf="!user" size="2rem" shape="circle"/>

          <span *ngIf="user">{{ user.name }}</span>
          <p-skeleton *ngIf="!user" width="5rem"  />
        </button>

        <button pRipple
                (click)="handleLogout()"
                class="p-3.5 flex items-center justify-end rounded-lg text-gray-700 bg-gray-100 hover:bg-gray-300 transition"
        >
          <i class="pi pi-sign-out "></i>
        </button>
      </div>
    </div>
<!--          <p-popover #op>-->
<!--            <div class="flex flex-col gap-4 w-[14rem]">-->
<!--              <button pRipple-->
<!--                      (click)="handleLogout()"-->
<!--                      class="flex items-center py-3 px-2 text-gray-600 hover:text-gray-900 hover:bg-gray-100 rounded-lg transition">-->
<!--                <i class="pi pi-sign-out mr-2"></i>-->
<!--                <span class="font-medium text-surface-900 dark:text-surface-0">-->
<!--                  Logout-->
<!--                </span>-->
<!--              </button>-->
<!--            </div>-->
<!--          </p-popover>-->

  </div>
</div>
